numbered-textarea {
  border: 1px solid #ccc;
  display: inline-block;
}
numbered-textarea > div {
  display: flex;
  flex-direction: row;
  height: 100%;
  /** This font-size calculation is critical to avoiding edge cases 
   * where wrapping is not detected. I'm guessing that floating point
   * errors are the issue with arbitrary font sizes. I think any nice
   * binary fraction should work */
  font-size: calc(round(100%, 1px / 8));
}
numbered-textarea > div textarea.numbers {
  width: 5ch;
  resize: none;
  text-align: right;
  scrollbar-width: none;
  background-color: #ccc;
  padding-right: 1ch;
  border-right: #ccc;
  font-size: inherit;
}
numbered-textarea > div textarea.text {
  flex: 1;
  padding-inline: 1ch 1ch;
  border: 0;
  font-size: inherit;
}
