* {
  box-sizing: border-box;
}
table {
  border-collapse: collapse;
  margin-bottom: auto;
  border: 1px solid black;
}
td,
th {
  padding: 0 0.5em;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
tbody > tr > :nth-child(2) {
  font-family: monospace;
  text-align: right;
  vertical-align: bottom;
  white-space: pre;
}
tbody > tr > :nth-child(4) {
  font-family: monospace;
  text-align: right;
  vertical-align: bottom;
}
tbody > tr > :nth-child(1n + 4) {
  font-family: monospace;
  text-align: right;
  vertical-align: bottom;
}
tbody tr:has(:nth-child(1):not(:empty)) {
  border-top: 2px solid black;
  border-bottom: 1px solid lightgrey;
  background-color: #f0f0f0;
}
td:nth-child(1n + 2) {
  border-bottom: 1px solid lightgrey;
}
body {
  padding: 0;
  margin: 0;
}
div#message {
  padding: 1em;
  color: red;
}
div#message:empty {
  display: none;
}
body > div#body {
  padding: 8px;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content auto;
  gap: 10px;
}
div#buttons {
  grid-column: 1/3;
  grid-row: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
#buttons button {
  flex: 1;
}
textarea {
  grid-column: 1;
  grid-row: 2;
  width: 100%;
}
table {
  grid-column: 2;
  grid-row: 2;
}
body.loading div.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: white;
}
body:not(.loading) div.loading {
  display: none;
}
textarea {
  background-attachment: local;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 5ch 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 0.85rem;
  line-height: 1.3;
  padding-block: 1.5ch;
  padding-inline-start: 7ch;
  /* make the usable width a multiple of 1ch */
  padding-inline-end: calc(100% - 7ch - round(down, 100% - 7ch, 1ch));
  transition: background-image 0.01s linear;
}
